# Sample Logstash configuration for creating a simple Logstash pipeline.
# this configuration will import csv file called books.csv to elasticsearch index called books

input {
    file {
        path => “/Users/user-name/Documents/Data/books.csv”
        start_position => “beginning”
        sincedb_path => “/dev/null”
    }
}

filter {
    csv {
        separator => “,”
        columns => [ “ID”, “BookID”, “BookName”, “PartNum”, “PageNum”, “Content”, “MainType”]
    }
    mutate {convert => [“ID”,”integer”] }
    mutate {convert => [“BookID”,”integer”] }
    mutate {convert => [“PartNum”,”integer”] }
    mutate {convert => [“PageNum”,”integer”] }
    mutate {convert => [“MainType”,”integer”] }
}

output {
    elasticsearch {
        hosts => “localhost”
        index => “books”
        document_type => “book_details”
    }
    stdout {}
}